.applying {
  margin: 109px auto 0;
  max-width: 1349px;
  background-color: #f8f9fa;

  @media screen and (max-width: 1280px) {
    padding: 0 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    padding: 81px 0 60px;
    margin: 0 auto;
  }

  &__titles-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    max-height: 91px;

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      text-align: center;
      margin-bottom: 150px;
    }

    @media screen and (max-width: 768px){
      margin-bottom: 60px;
    }
  }

  &__title {
    max-width: 490px;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
    color: #2a2a2a;

    @media screen and (max-width: 1280px) {
     font-size: 36px;
      line-height: 40px;
    }

    @media screen and (max-width: 768px){
      font-size: 28px;
      line-height: 30px;
    }
  }

  &__accentuated {
    color: #e92626;
    font-weight: 700;
  }

  &__main-title {
    max-width: 523px;
    width: 100%;
    text-transform: uppercase;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-size: 130px;
    line-height: 130px;
    color: #2a2a2a;

    @media screen and (max-width: 1280px) {
      font-size: 100px;
      line-height: 100px;
    }

    @media screen and (max-width: 768px){
      font-size: 50px;
      line-height: 54px;
    }
  }

  &__cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 51px;

    @media screen and (max-width: 1280px){
      justify-content: space-around;
    }
  }

  &__cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 25px;
    width: 100%;
    max-width: 277px;
    max-height: 376px;
    background-color: #fff;
    border-radius: 5px;

    z-index: 10;
    &:not(:last-child) {
      margin-right: 20px;

      @media screen and (max-width: 1280px){
        margin-right: 0;
      }
    }

    @media screen and (max-width: 1280px){
      max-width: 400px;
    }

    &--active {
      position: relative;
      max-height: 366px;
      background-color: #0041a5;

      &:before {
        position: absolute;
        content: '';
        bottom: -4px;
        left: 50%;
        transform: translate(-50%, 50%);
        height: 10px;
        width: 90%;
        background-color: #003381;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  &__img-wrapper {
    position: relative;
    width: 129px;
    height: 129px;
    background-color: #f8f9fa;
    border-radius: 50%;
    margin-bottom: 30px;

    &--active {
      background-color: #e92626;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    max-width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__card-title {
    text-transform: uppercase;
    font-family: Bebas Neue, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #2a2a2a;
    margin-bottom: 10px;

    &--active {
      color: #fff;
    }
  }

  &__card-description {
    max-width: 266px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #2a2a2a;

    &--active {
      color: #fff;
    }

    @media screen and (max-width: 1280px){
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__text-container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1280px){
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      text-align: center;
    }

  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 277px;

    @media screen and (max-width: 1280px) {
      max-width: 450px;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 1024px){
      max-width: 350px;
    }
  }

  &__icon {
    position: absolute;
    top: -20px;
    left: -35px;
    width: 100%;
    max-width: 35px;
    max-height: 35px;

    @media screen and (max-width: 1280px){
      max-width: 50px;
      max-height: 50px;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
